<html>
    <head>
        <title>Welcome to Chushi!</title>
        <meta content="text/htmlcharset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel = "stylesheet" type = "text/css" href= "styles.css">

    </head>

    <body>
        <header>
            <div id="brand">
                <img id="logo" src="img/logo.png">
                <span id="name">CHUSHI</span>
            </div>

            <div id="tabs1">
                <div><a class="selected" href="home" method="get">HOME</a></div>
                <div><a href="catalog" method="get">PRODUCTS</a></div>
                <div><a href="users" method="get">USERS</a></div>
                <div><a href="" method="get">INVENTORY</a></div>
                <div><a href="" method="get">ORDERS</a></div>
                <div class="signout-tab"><a href="signout" method="get">SIGN OUT</a></div>
            </div>
        </header>

        <div id="home_template">
            <img id="home1" src="img/home1.JPG">
            <div id="catchphrase">
                <div id="catchphrase1"><span id="cp_format">Bringing <br> Freshly Baked <br> Sushi Bakes <br> to your homes.</span></div>
                <div id="catchphrase2"><span id="cp_format">Hungry? <br>Love Sushi? <br> We got you covered</span></div>
            </div>
            <img id="home3" src="img/home3.jpg">
            <img id="home2" src="img/home2.jpg">
        </div>

    </body>
</html>