<html>
    <head>
        <title>Login</title>
        <meta content="text/htmlcharset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel = "stylesheet" type = "text/css" href= "styles.css">

        <style>
            .register-message-banner{
                width: 60%;
                margin: 0  auto;
                text-align: center;
                padding: 10px;
                background: #ffddb6;
                border-radius: 5px;
                border-left: 10px solid #ff0000;
                border-right: 10px solid #ff0000;
            }
        </style>
    </head>

    <body>
        <header>
            <div id="brand">
                <img id="logo" src="img/logo.png">
                <span id="name">CHUSHI</span>
            </div>

            <div id="tabs1">
                <div><a href="home" method="get">HOME</a></div>
                <div><a href="products" method="get">PRODUCTS</a></div>
                <div><a href="about" method="get">ABOUT</a></div>
                <div><a class="selected" href="login" method="get">LOGIN</a></div>
            </div>
        </header>

        <div id="login_template">
            <h1>LOGIN</h1>
            <div class="title-line"></div>
            <form method="post" action="login">
                {{#if message}}
                    <div class="register-message-banner">{{message}}</div>
                {{else}}
                    <div class="register-success-banner">Registration successful!</div>
                {{/if}}

                <label>Email <p>*</p></label> <input class="input-register-success" type="email" name="email" placeholder="Your email address" required> <br>
                <label>Password <p>*</p></label> <input class="input-register-success" type="password" name="password" placeholder="Your password"required>

                <input class="login-btn" type="submit" value="LOGIN">
            </form>
            
        </div>
        

    </body>
</html>