<html>
    <head>
        <title>Track Order</title>
        <meta content="text/htmlcharset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel = "stylesheet" type = "text/css" href= "styles.css">

    </head>

    <body>
        <header>
            <div id="brand">
                <img id="logo" src="img/logo.png">
                <span id="name">CHUSHI</span>
            </div>

            <div id="tabs1">
                <div><a href="home" method="get">HOME</a></div>
                <div><a href="catalog" method="get">PRODUCTS</a></div>
                <div><a class="selected" href="ordertracker" method="get">ORDER TRACKER</a></div>
                <div><a href="history" method="get">HISTORY</a></div>
                <div><a href="cart" method="get">CART</a></div>
                <div><a href="myaccount" method="get">MY ACCOUNT</a></div>
            </div>
        </header>

    </body>
</html>