/* all contents */
*{
    margin:0px;
    color: black;
}
body{
    font-family: 'Roboto';
}
/* nav bar */
header{
    background-color: #FFC178;
    height: 70px;
    width: 100%;
}

#brand{
    display: inline-flex;
}

#logo{
    padding: 9px;
    width: 50px;
    height: 50px;
}

#name{
    font-weight: bold;
    font-size: 45px;
    padding-top: 7px;
}

#tabs1{
    display: inline-flex;
    position: absolute;
    right: 0px;
    margin-top: 18px;
}
header a{
    text-decoration: none;
    font-size: 30px;
    padding: 16px;
}

header a:hover{
    border: 2px solid black;
}

.selected{
    border: 2px solid black;
    padding: 16px;
}

/* home body */

#home_template{
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 400px 400px 400px;
    margin:30px 11%;

    
}

#home1{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 400px;
    width: 400px;
}

#home2{
    grid-row: 2/3;
    grid-column: 1/2;
    height: 400px;
    width: 400px;
}

#home3{
    grid-row: 1/3;
    grid-column: 3/4;
    height: 800px;
    width: 400px;
}

#catchphrase{
    background-color: #FFC178;
    grid-row: 1/4;
    grid-column: 2/3;
}

#catchphrase1{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
}

#catchphrase2{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    text-align: right;
    margin-top: 190px;
}

#cp_format{
    font-size: 52px;
    font-family: "Montserrat";
}

/* about page */

#about_template{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #FFC178;
    height: 72%;
    width: 92%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 150px 300px;
    padding: 20px;
}

#about{
    grid-row: 1/2;
    grid-column: 1/2;
}

#about_us{
    text-decoration: underline;
    padding-bottom: 10px;
}

#about_logo{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 150px;
    height: 150px;
    margin-left: 120px;
}

#contact{
    grid-row: 2/3;
    grid-column: 1/2;
}

#contact_us{
    text-decoration: underline;
    padding-bottom: 10px;
}

#facebook_logo{
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.contact_name{
    font-family: 'Roboto';
    font-size: 17px;
    display: inline-block;
    position: relative;
    bottom: 17px;
}

/* login template */
 #login_template{
    margin: 30px auto;
    background-color: #FFC178;
    height: 580px;
    width: 80%;
    padding: 20px;
 }

 #login_template h1{
     font-size: 40px;
     text-align: center;
 }

 .title-line{
     height: 3px;
     width: 20%;
     background: black;
     margin: 5px auto 15px;
 }

 form{
     margin: 0 5%;
     font-size: 38px;
 }

 form label{
    display: inline-block;
    width: 250px;
    text-align: left;
 }

 form label p{
     display: inline-block;
     color: #FF0000;
 }

 form .input-box{
     margin: 20px;
     font-size: 38px;
     padding: 5px 15px;
     width: 72%;
 }

 ::placeholder {
    color: #C7C7C7;
    opacity: 1;
  }

form .login-btn{
    display: block;
    font-family: 'Roboto';
    font-size: 38px;
    padding: 5px 30px;
    width: auto;
    background: #C4C4C4;
    border-radius: 30px;
    margin: 40px auto;
   
}

form p{
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
}

/* register template */
#register_template{
    margin: 30px auto;
    background-color: #FFC178;
    height: 610px;
    width: 80%;
    padding: 20px;
 }

 #register_template h1{
     font-size: 40px;
     text-align: center;
 }

.title-line-register{
    height: 3px;
    width: 20%;
    background: black;
    margin: 5px auto 20px;
}

.registration-form label{
    font-size: 28px;
    display: inline-block;
    width: 250px;
    text-align: left;
 }

 .registration-form .input-register{
    margin: 5px;
    font-size: 28px;
    padding: 5px 15px;
    width: 72%;
}

form .register-btn{
    display: block;
    font-family: 'Roboto';
    font-size: 33px;
    padding: 5px 30px;
    width: auto;
    background: #C4C4C4;
    border-radius: 30px;
    margin: 20px 40px;
    float: right;
   
}

/* successful register template */
form .input-register-success{
    margin: 10px 20px;
    font-size: 38px;
    padding: 5px 15px;
    width: 72%;
}

form .register-success-banner{
    /* height: auto; */
    width: 60%;
    margin: 0  auto;
    text-align: center;
    padding: 10px;
    background: #ffddb6;
    border-radius: 5px;
    border-left: 10px solid #ff8a00;
    border-right: 10px solid #ff8a00;
}

/* products template */
#product-main{
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100%;
    z-index: 100;
    /* width: 100%; */
}
#filter_bar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: black;

    /* CHANGED WIDTH TO FIXED VALUE -KD*/
    /* width: 13%; */
    width: 200px;
    height: 100%;
    padding: 5px;
}

#filter{
    text-align: center;
    font-size: 25px;

}

#filter-heading{
    display: block;
    color: #FFC178;
    text-align: center;
    margin-top: 15px;
}

.line{
    height: 3px;
    width: 100%;
    background: #FFC178;
    margin-bottom: 20px;
}

#filter label{
    display: block;
    color: #FFC178;
}

input[type=radio] {
    display: inline-block;
    border: 0px;
    width: 25px;
    height: 2em;
    vertical-align: -4px;
}

.half-line-price{
    display: inline-block;
    height: 2px;
    width: 55px;
    background: #FFC178;
    position: relative;
    bottom: 7px;
}

.half-line-size{
    display: inline-block;
    height: 2px;
    width: 60px;
    background: #FFC178;
    position: relative;
    bottom: 7px;
}

.checkmark{
    display: inline-block;
    color: white;
    width: auto;
    font-size: 23px;
    margin: 10px auto;
    
}

.checkmark:last-child{
    margin-bottom: 30px;
}

.category-title{
    display: inline-block;
    color: #FFC178;
    text-align: center;
    margin: 10px 0;
}


#header-title{
    grid-column: 2/3;
    grid-row: 1/2;
}

#title-name{
    display: inline-block;
    font-weight: bold;
    font-size: 45px;
    position: relative;
    top: 15px;
    left: 55px;
}

.search-container{
    display: inline-block;
    position: absolute;
    right: 2%;   
    height: 70px;
    background: #FFC178;
    border-radius: 70px;
    margin: 10px;
}
.search-box {
    background: white;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
    background: white;
    border-radius: 70px;
}

.search-box:hover > .search-btn {
    color: #565656;
}

.search-btn {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #565656;
    cursor: pointer;
}

.search-btn > i {
    font-size: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #565656;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-weight: bold;
}

.products{
    grid-column: 2/3;
    grid-row: 2/3;
}

#product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px, 1fr));
    justify-content: center;
}

#product-list-popular{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px, 1fr));
    justify-content: center;
}

#product-list-low{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px, 1fr));
    justify-content: center;
}

#product-list-high{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px, 1fr));
    justify-content: center;
}

#product-list-6x6{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px, 1fr));
    justify-content: center;
}

#product-list-7x8{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px, 1fr));
    justify-content: center;
}

#product-list-10x12{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px, 1fr));
    justify-content: center;
}

.product-item{
    display: inline-block;
    /* height: 230px; */
    height: auto;
    width: 330px;
    font-size: 25px;
    margin: 40px 50px 0px;
    border: 3px solid black;
    text-align: center;
    padding-bottom: 20px;
}

.image_list{
    margin-bottom: 15px;
    height: 200px;
    width: 100%;
}

.product-line{
    height: 2.5px;
    width: 70%;
    background: black;
    margin: 15px auto;
}


#product-details{
    display: none;
}

#specific-product{
    margin: 30px 50px;
}

.specific-product-item{
    display: grid;
    grid-template-columns: 45% 55%;
}

.product-detail-left{
    display: block;
    height: 95%;
    grid-column: 1/2;
    border: 3px solid black;
    margin-right: 80px;
    padding: 30px 20px;
}

.image_detail{
    height: 300px;
    width: 100%;
    /* display: block;
    border: 4px solid black; */
}

.ingredients{
    margin: 15px 0;
    font-size: 18px;
}

.product-detail-line{
    height: 2.5px;
    width: 70%;
    background: #FFC178;
    margin: 15px auto;
}

.description{
    font-size: 21px;
    text-align: center;
    margin: 0 20px;
}

.product-detail-right{
    grid-column: 2/3;
    display: block;
    justify-content: center;
}

.name{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
}

.size-header{
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
}

.price{
    font-size: 30px;
    height: auto;
    width: 45%;
    background: #D4D4D4;
    padding: 10px 15px;
    /* display: inline-block; */
    margin: 30px auto;
    
}

.size{
    display: inline-block;
}

.price6x6{
    display: inline-block;
    position: relative;
    margin: 0 0 0 20%; 
}   

.price7x8{
    display: inline-block;
    position: relative;
    margin: 0 0 0 20%; 
}

.price10x12{
    display: inline-block;
    position: relative;
    margin: 0 0 0 11%; 
}



/* FOR USERS PRODUCT CATALOG */
#specific-product-user{
    margin: 30px 50px;
}

.specific-product-item-user{
    display: grid;
    grid-template-columns: 45% 55%;
}

.product-detail-left-user{
    display: block;
    height: 95%;
    grid-column: 1/2;
    border: 3px solid black;
    margin-right: 80px;
    padding: 30px 20px;
}

.image_detail-user{
    height: 300px;
    width: 100%;
    /* display: block;
    border: 4px solid black; */
}

.ingredients-user{
    margin: 15px 0;
    font-size: 18px;
}

.product-detail-line-user{
    height: 2.5px;
    width: 70%;
    background: #FFC178;
    margin: 15px auto;
}

.description-user{
    font-size: 21px;
    text-align: center;
    margin: 0 20px;
}

.product-detail-right-user{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 1fr 80px;
    /* justify-content: center; */
}

.name-user{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.size-area-user{
    grid-column: 1/2;
    grid-row: 2/3;
}

.size-header-user{
    font-size: 30px;
    text-align: center;
    margin: 20px 0 30px;
}

.price-user{
    font-size: 30px;
    height: auto;
    width: 89%;
    background: #D4D4D4;
    padding: 10px 15px;
    /* display: inline-block; */
    margin: 30px auto;
    
}

.size-user{
    display: inline-block;
}

.price6x6-user{
    display: inline-block;
    position: relative;
    margin: 0 0 0 20%; 
}   

.price7x8-user{
    display: inline-block;
    position: relative;
    margin: 0 0 0 20%; 
}

.price10x12-user{
    display: inline-block;
    position: relative;
    margin: 0 0 0 11%; 
}

.quantity-area-user{
    grid-column: 2/3;
    grid-row: 2/3;
}

.quantity-header-user{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.quantity-user{
    display: inline-block;
}

.quantity-user input{
    text-align: center;
    font-size: 30px;
    height: auto;
    background: #D4D4D4;
    padding: 10px 15px;
    display: block;
    margin: 28px 115px 0;
}

.add-to-cart-user{
    grid-column: 1/3;
    grid-row: 3/4;
    height: 50px;
    width: 27%;
    background: #D4D4D4;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
    cursor: pointer;

}
 
.add-cart-label{
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;

}

.add-cart-icon{
    position: relative;
    top: 8px;
}

/* FOR CART - USER */
.cart-header{
    display: block;
    margin: 30px 40px 0;
}

.cart-header svg{
    height: 60px;
    width: 60px;
}

.cart-header-label{
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    position: relative;
    bottom: 15px;
}

.cart-item{
    display: block;
    margin: 0 50px 0;
}

.cart-item-header{
    background: #FFC178;
    border: 3px solid black;
    padding: 18px 15px;    
}


.cart-item-header-label{
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
}

#cart-label-item{
    margin-right: 38%;
}

#cart-label-price{
    margin-right: 10%;
}

#cart-label-quantity{
    margin-right: 17%;
}

.cart-item-content{
    border: 3px solid black;
    /* padding: 10px 15px 0;   */
    font-size: 28px;
    display: grid;
    grid-template-columns: 590px 265px 305px 190px 45px;
}

.cart-item-content div{
    display: inline-block;
    font-size: 28px;
}

.cart-content-item{
    grid-column: 1/2;
    padding: 15px 0 15px 15px; 
}

.cart-content-price{
    grid-column: 2/3;
    padding: 15px 0 15px 0px;
}

.cart-content-quantity{
    grid-column: 3/4;
    padding: 15px 0 15px 0px;
}

.cart-content-subtotal{
    grid-column: 4/5;
    font-weight: bold;
    padding: 15px 0 15px 0px;
}

.cart-item-content svg{
    height: 45px;
    width: 45px;
    grid-column: 5/6;
    padding-top: 10px; 
    cursor: pointer;
}

.cart-summary{
    margin-top: 80px;
    margin-left: 55%;
    
}

.cart-summary-header{
    font-size: 28px;
    font-weight: bold;
    background: #FFC178;
    border: 3px solid black;
    padding: 10px 20px;  
    width: 597px;
}

.cart-summary-main{
    border: 3px solid black;
    width: 597px;
    padding: 30px 20px 20px;
}

.cart-subtotal{
    font-size: 26px;
}

.cart-subtotal-header{
    display: inline-block;
    /* margin-right: 65%; */
}

.cart-subtotal-price{
    display: inline-block;
    position: relative;
    left: 61%;
}

.subtotal-line{
    height: 3px;
    width: 100%;
    background: #C4C4C4;
    margin: 40px 0 25px;
}

.cart-order-total{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

.cart-order-header{
    display: inline-block;
    /* margin-right: 55%; */
}

.cart-order-price{
    display: inline-block;
    position: relative;
    left: 53%;
}

.checkout-button{
    background: #FFC178;
    border: 3px solid black;
    text-align: center;
    font-size: 28px;
    padding: 8px 0;
}

.checkout-button a{
    text-decoration: none;
}

/* FOR CHECKOUT - USER*/
#checkout-cart{
    /* display: none; */
    padding: 25px 60px;
}

.checkout-header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.checkout-main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 290px 225px 1fr;
}

.checkout-address{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 85%;
    margin-bottom: 20px;
}

.checkout-address-header{
    background: #FFC178;
    border: 3px solid black;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 10px;
    
}

.checkout-address-user{
    border: 3px solid black;
    font-size: 26px;
    padding: 25px 20px;
    
}

.checkout-new-address{
    background: #FFC178;
    border: 3px solid black;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 20px;
    width: 180px;
    margin-top: 25px;
    cursor: pointer;
}

.checkout-payment{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 85%;
}

.checkout-payment-header{
    background: #FFC178;
    border: 3px solid black;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 10px;
    
}

.checkout-payment-method{
    border: 3px solid black;
    /* padding: 15px 20px; */
    
}

.checkmark-payment{
    display: block;
    color: black;
    width: auto;
    font-size: 26px;
    margin: 20px;
    
}

#payment{
    margin: 0;
}

.checkout-date{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 85%;
}

.checkout-date-header{
    background: #FFC178;
    border: 3px solid black;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 10px;
    
}

.checkout-date-time{
    border: 3px solid black;
    font-size: 26px;
    font-weight: bold;
    padding: 15px 10px;
    text-align: center;
}

.order-summary{
    grid-column: 2/3;
    grid-row: 1/4;
    /* width: 85%; */
}

.order-summary-header{
    background: #FFC178;
    border: 3px solid black;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 20px 20px;
    
}

.order-items{
    font-size: 26px;
    padding: 5px 0;
    font-weight: normal;
}

.order-summary-main{
    border: 3px solid black;
    font-size: 26px;
    padding: 20px 20px 20px;
    
}

.order-summary-list{
    display: grid;
    grid-template-columns: 78% 22%;
    grid-template-rows: 40px 40px;
    margin-bottom: 20px;
}

.order-item{
    display: inline-block;
    grid-row: 1/2;
    grid-column: 1/2;
}

.order-price{
    display: inline-block;
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
}

.order-quantity{
    margin: 5px 0 0;
    grid-row: 2/3;
    grid-column: 1/2;
}

.order-subtotal-list{
    display: grid;
    grid-template-columns: 81% 19%;
    margin: 35px 0 10px;
}

.order-cart-subtotal-label{
    display: inline-block;
    margin-bottom: 25px;
    grid-column: 1/2;
}

.order-cart-subtotal{
    display: inline-block;
    /* position: relative;
    left: 55%; */
    grid-column: 2/3;
}

.order-total{
    font-weight: bold;
    padding: 15px 0;
    border-top: 3px solid #C4C4C4;
    border-bottom: 3px solid #C4C4C4;
    margin-bottom: 40px;
}

.order-total-label{
    display: inline-block;
}

.order-total-price{
    display: inline-block;
    position: relative;
    left: 59%;
}

.place-order{
    background: #FFC178;
    padding: 15px;
    font-size: 28px;
    border: 3px solid black;
    width: 150px;
    margin-left: 71%;
    margin-bottom: 20px;
    cursor: pointer;
}

/* CHECKOUT NEW ADDRESS MODAL */
.modalAddress{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalAddress-content{
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 18px;
    width: 55%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
     0 7px 20px 0 rgba(0,0,0,0.17);

    animation-name: modalopenAddress;
    animation-duration: 1s;
}

.modalAddress-header{
	background: #FFC178;	
 	border-radius: 5px;
    padding: 5px;
    color: black;
    display: grid;
    grid-template-columns: 90% 10%;
}

.modalAddress-header h2{
	display: inline-block;
	position: relative;
	top: 12px;
	margin-left: 36%;
}

.address-closeBtn{
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 55px;
  margin-left: 29%;
  line-height: normal;
}

.address-closeBtn:hover, .address-closeBtn:focus{
  color: red;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.modalAddress-body{
    padding: 10px 20px;
}

.modalAddress-footer{
    color: white;
    text-align: center;
}

#form-add-address{
    margin: 0;
}

#form-add-address input{
    padding: 5px;
    width: 100%;
    height: 50px;
    font-size:24px;
	font-family:sans-serif;
	margin: 10px 0;
}

#form-add-address input:last-child{
	margin: 10px 0 0;
}

#submit-address{
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    background:#FFC178;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    transition-duration:0.5s;
    transition-timing-function:ease;
    transition-property:all;
  }

#submit-address:hover{
    background: #ff8a00;
    color: #fff;
  }

@keyframes modalopenAddress{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



/* FOR ORDER TRACKER - USER */
#tracker-main{
    padding: 20px 30px;
}

.tracker-header{
    font-size: 40px;
    font-weight: bold;
}

.tracker-body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 340px auto;

    margin: 10px 40px;
}

.tracker-status{
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 25px;
}

.status{
    border: 3px solid black;
    padding: 5px 20px;
    width: 75%;
    background: #C4C4C4;
}

.status svg{
    height: 48px;
    width: 48px;
    position: relative;
    top: 3px;
}

.status-name{
    display: inline-block;
    font-size: 32px;
    position: relative;
    bottom: 10px;
    margin-left: 10px;
}

.tracker-logo{
    grid-row: 1/2;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tracker-company{
    padding-bottom: 15px;
}

.tracker-company img{
    grid-row: 1/2;   
    height: 180px;
    width: 180px;
    margin-left: 10%;
}

.tracker-company svg{
    grid-row: 1/2;   
    height: 180px;
    width: 180px;
}

.tracker-delivery-date{
    grid-row: 2/3;   
    padding: 10px;
    border: 3px solid black;
    font-size: 32px;
    height: 90px;
    width: 100%;
    text-align: center;
}

.tracker-delivery-label{
    margin: 0 0 8px;
}

.tracker-details{
    grid-row: 2/3;
    grid-column: 1/3;

    display: grid;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-columns: 15% 85%;
    font-size: 26;
    border: 3px solid black;
    background: #FFC178;
    padding: 30px 20px;
    width: 99%;
    height: auto;
}

.tracker-label{
    font-weight: bold;
}

.no-tracker-status{
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}


/* FOR HISTORY - USER */
#history-main{
    padding: 25px 35px;
}

.history-header{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.history-order{
    border: 3px solid black;
    background: #FFC178;
    font-size: 26px;
    padding: 15px;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

.history-order div{
    margin: 10px 0;
}

.history-date{
    font-weight: bold;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

.history-number{
    grid-row: 1/2;
    grid-column: 2/3;
}

.history-order-details{
    grid-row: 2/3;
    grid-column: 2/3;
}

.history-payment{
    grid-row: 3/4;
    grid-column: 2/3;
}

.history-address{
    grid-row: 4/5;
    grid-column: 2/3;
}

.no-history{
    border: 3px solid black;
    font-size: 26px;
    font-weight: bold;
    padding: 15px;

}


/* FOR PROFILE - USER */
#profile-main{
    padding: 30px 100px;
}

.profile-header{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.profile-body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    margin-top: 25px;
    
}

.profile-contact{
    grid-row: 1/2;
    grid-column: 1/2;
}

.profile-contact-header{
    font-size: 28px;
    font-weight: bold;
    border: 3px solid black;
    background: #FFC178;
    text-align: center;
    padding: 10px;
    margin: 0 50px;

}

.profile-contact-body{
    font-size: 26px;
    border: 3px solid black;
    padding: 10px;
    margin: 0 50px;
}

.profile-contact-body div{
    margin: 15px 50px;
}

.profile-address{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 35px;
}

.profile-address-header{
    font-size: 28px;
    font-weight: bold;
    border: 3px solid black;
    background: #FFC178;
    text-align: center;
    padding: 10px;
    margin: 0 50px;

}

.profile-address-body{
    font-size: 26px;
    border: 3px solid black;
    padding: 10px;
    margin: 0 50px;
}

.profile-address-body div{
    margin: 15px 50px;
}

.account{
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 0 auto;
}

.account svg{
    height: 200px;
    width: 200px;
}

.account-name{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#signout{
    grid-row: 2/3;
    grid-column: 2/3;

    height: 28px;
    width: 135px;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
    background: #FFC178;
    padding: 15px;
    text-transform: uppercase;
    border: 3px solid black;
    border-radius: 35px;
    margin: 30px auto 0;
}